body {
  font-size: 16px;
  color: #fff;
  background-color: #5FB404;
  font-family: 'Oxygen', sans-serif;
}
*{
box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/** HEADER **/
#header-nav {
  background-color: #A5DF00;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #08298A;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

h1 {
   color: #08298A;
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
}

.text-center p section{
 vertical-align: middle;
  
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  }
#menu {
  color: #000;
  font-size: 1em;
  margin:10px;
  background-color: #A5DF00;
  line-height: 1.5;
 padding: 10px;
 
}
.navbar-link {
  background-color: red;
}


#nav-list {
  color: #951C49;
   margin:0px;
  padding: 0px;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
 
  #nav-list {display: none;}

}

@media (min-width: 992px) and (max-width: 1199px) {

#nav-list {display: none;}
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
 
  #nav-list {display: none;}
}



/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  
 
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    text-align: center;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    text-align: center;
   
  }

  


}